body {
  text-align: center;
  background:
    black url("img/emoji.png");
}

h1,
p {
  color:
    blueviolet;
}

h1 {
  font-size: 4em;
  padding-top: 10rem;
}

.bigger-text {
  font-size: 1.5rem;
}

.container {
  background: url("img/window.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 800px;
  width: 800px;
  margin: auto;
}